// Place all the styles related to the weights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  background-color: #4dc0d4;
  text-decoration: none;
  color: white;
}

/* ヘッダー部 */
.top-page-header {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.search-bar-contents {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.lists-right{
  display: flex;
  list-style: none;
  align-items: center;
  background-color: transparent;
  margin-right: 15px;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
}

.logout {
  text-decoration: none;
}

.login {
  margin-right: 3vw;
  color: white
}
.sign-up {
  color: white
}

.drop-icon{
  width: 5vw;
  background-color: transparent;
}

.title-contents{
  width: 100vw;
  height: 20vh;
  background-image: image-url('eye_catch3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 18px 18px;
}

.footer-image{
  width: 100vw;
  height: 10vh;
  background-image: image-url('eye_catch3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.store-btn{
  background-color: transparent;
}

.apple-btn{
  margin-right: 4vw;
  height: 7vh;
  background-color: transparent;
}

.google-btn{
  height: 7vh;
  background-color: transparent;
}

.service-title{
  background-color: transparent;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 90px;
  letter-spacing: 12px;
}


.top-images{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 40vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

.questions-area{
  width: 100vw;
  height: 35vh;
  margin-bottom: 30px;
  // padding: 20px 0;
}

.question{
  margin: 10px auto 10px;
  // background:linear-gradient(transparent 40%, #0099ff 0%);
  text-align: center;
  width: 45%;
  box-shadow: 0px -10px 10px -5px rgba(0, 153, 255, 1) inset,0px 10px 5px -3px #0099ff;
  font-weight: bold
}

.worries-sentence{
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.worries-list{
  background-color: transparent;
  font-size: 18px;
  // width: 80%;
}

.arrow{
  height: 8vh;
  width: 5vw;
  margin:0 auto 10px;
}

.arrow_under{
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.service-image{
  width: 30%;
}

.top_image{
  width: 100%;
  height: 100%;
}

/* フッター部 */
.footer {
  width: 100vw;
  // padding: 5vh 0;
  color: #FFF;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
}

.dropweight-details{
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-content{
  list-style: none;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
  display: flex;
  justify-content: left;
}

.footer>p {
  font-size: 14px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

// 新規登録画面
.registrations-new-main{
  margin: 15px 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.filed-area{
  border: 1px solid white;
  height: 25px;
}

// ログイン画面
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  border-bottom:4px double white ;
  margin: 0 auto;
}

.header-bar{
  display: flex;
  background-color: transparent;
  list-style: none;
}

.top-page{
  justify-content: space-between;
}

.logout{
  background-color: transparent;
  margin-left: 40px;
}

.session-new-main{
  margin: 15px 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-area{
  display: flex;
  justify-content: center;
  width: 40vw;
  background: rgba(255,255,255, 0.55);
}

.login-form{
  justify-content: center;
  width: 60%;
}

.field{
  margin: 40px 20px;
}

.in-date{
  border: 1px solid white;
  padding: 5px;
}

.in-weight{
  border: 1px solid white;
  padding: 5px;
}

.in-water{
  border: 1px solid white;
  padding: 5px;
}

.motion-check{
  width: 20px;
  height: 20px;
}

.actions{
  margin: 20px;
}

.ok-button{
  font-size: 15px;
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
}

.re-button{
  font-size: 15px;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}

.water-explanation{
  font-size: 14px;
  margin: 10px;
}
// グラフエリア
.graph-area{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 50vh;
  margin: 10px auto 50px;
}

.weight-graph{
  width: 45%;
  height: 100%;
}

.water-graph{
  width: 45%;
  height: 100%;
}

// カレンダー部
.simple-calendar{
  width: 80vw;
  margin: 20px auto;
  // z-index: auto;
}

.calendar-heading{
  display: flex;
  margin: 5px 0;
}

.calendar-title{
  font-size: 25px;
}

.input{
  border: 1px solid;
  padding: 5px;
}

#input-weight{
  cursor: pointer;
}

.more {
  top: 20px;
  // right: 10px;
  // z-index: 2;
  // height: 100px;
  text-align: left;
  display: flex;
}

.input-button{
  border: 1px white;
  padding: 3px;
  margin: 3px;
}

.in-button{
  font-size: 15px;
  border: 2px solid white;
  padding: 8px;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


.more span{
  position: relative;
}

.calendar-heading{
  justify-content: space-between;
}

.today{
  color: #ea352d;
}

.calendar_icon{
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.excersize_image{
  width : 3vw;
  height: 5vh;
  background-color: transparent;
}

.toilet_image{
  width: 3vw;
  height: 5vh;
  background-color: transparent;
}